.BallPicture{
  background-color: rgb(43, 31, 31);
  /* width: 70px; */
  height: 50px;
  /* width: 2%; */
  /* height: 2%; */
  /* border-radius: 20%; */
  /* margin: 10%; */
  /* position: absolute; */
  /* top: 60px; */
  /* position: fixed; */
  /* margin-left: 5%;
  margin-right: 5%; */
}


.contenedorImg{
  /* border-radius: 20%; */
  /* padding: 10%; */
  /* position: absolute; */
  background-color: red;
  /* padding: 10%; */
  /* top:10%;
  left: 10%; */
}
